@{
    ViewBag.Title = "OAuthTest";
}

<h2>OAuthTest</h2>

<h3>OAuth Result:</h3> @ViewBag.OAuthResult

<br/><br/>
<h3>/me/courses </h3> @ViewBag.MeCoursesResult

<br/><br/>
<h3>https://m-api.ecollege.com/courses/3312999 </h3> @ViewBag.CourseDetails

<br/><br/>
<h3>https://m-api.ecollege.com/courses/3312999/students </h3> @ViewBag.Students

<br/><br/>
<h3>https://m-api.ecollege.com/users/4433390 </h3>@ViewBag.User




